@import url("https://fonts.googleapis.com/css2?family=Grey+Qo&family=Roboto:wght@300&display=swap");

:root {
  --primary-color: #323b52;
  --highlight-color: #398e9a;
  --title-color: --highlight-color;
  --secondary-color: #15223f;
  --tertiary-color: #546484;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.titles {
  font-size: 60px;
  text-align: center;
  margin-bottom: 20px;
}

.contact-container {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}
