.our_services_container {
  width: 1200px;
  margin: 60px auto;
}

.icon_container {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  width: 1200px;
}

.titles {
  font-size: 60px;
  text-align: center;
  margin-bottom: 20px;
}

.icon {
  font-size: 150px;
}

@media only screen and (max-width: 900px) {
  .our_services_container {
    width: 300px;
  }

  .icon_container {
    width: 300px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }

  .titles {
    font-size: 10px;
    text-align: center;
    margin-bottom: 20px;
  }
}
