.our_services_container {
  width: 1200px;
  margin: 60px auto;
}

.icon_container {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  width: 1200px;
}

.titles {
  font-size: 60px;
  text-align: center;
}

.icon {
  font-size: 150px;
}
